.headers {
    background-color: midnightblue;
    height: 72px;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text{
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.movie-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:96%;

}