.movie-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:96%;

}

.genre-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:96%;

}
