.card-item {

    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    margin: 5px 0;
    border-radius: 10px;
    position: relative;
    cursor: pointer;

}

.poster {
    height: 300px;
    background: white;
    border-radius: 10px;
}

img {
    height: 100%;
    border-radius: 10px;

}
.card-inner {
    /*background: dimgray;*/
    background: firebrick;
    width: 200px;
    height: 450px;
    margin: 30px;
    padding: 5px;
    border-radius: 10px;
}
.card-inner:hover {
    background: khaki;
}

.card-info {
    color: white;
    border-radius: 10px;
    justify-content: space-between;

}
.card-info:hover {
    color: black;
    transition: all 0.3s;
;
}
.card-daterate {
    color: silver;
    display: flex;
    justify-content: space-between;




}
.card-daterate:hover {
    color: black;
    transition: all 0.3s;
}


