/*.card-item {*/

/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 200px;*/
/*    padding: 5px;*/
/*    margin: 5px 0;*/

/*    border-radius: 10px;*/
/*    position: relative;*/
/*    cursor: pointer;*/
/*    background: white;*/
/*}*/



.poster {
    height: 300px;
  background: white;
    border-radius: 10px;
}

img {
    height: 100%;
    border-radius: 10px;

}
.card-inner {
    /*background: dimgray;*/
        display: flex;
        flex-direction: column;
    background: firebrick;
    width: 200px;
    /*height: 350px;*/
    margin: 30px;
    padding: 5px;
    border-radius: 10px;
}
.card-inner:hover {
    background: khaki;
}

.card-info {
    color: white;
    border-radius: 10px;
    justify-content: space-between;

}
.card-info:hover {
    color: black;
    transition: all 0.3s;
;
}
.card-daterate {
     color: silver;
     display: flex;
     justify-content: space-between;

 }
.card-daterate:hover {
    color: black;
    transition: all 0.3s;
}

.card-badge{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 170px;
    position: relative;
    top: 80px;
}
.badgeContent0{
    padding: 1px;
    margin: 2px;
}
.badgeContent1{
    padding: 1px;
    margin: 2px;
}
.badgeContent2{
    padding: 1px;
    margin: 2px;
}



